@model IEnumerable<Domain.Entities.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-sm btn-success" id="btnNewMenu">New Menu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" onclick="EditMenu('@item.Id')">Edit</a>
                <a class="btn btn-sm btn-info" onclick="DetailsMenu('@item.Id')">Details</a>
                <a class="btn btn-sm btn-danger" onclick="DeleteMenu('@item.Id')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mymodallable">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="myModalBody">
                
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/bootstrap-modal.js"></script>
    <script>
        $("#btnNewMenu").click(function(){
            $.get("Menus/Create", function(result){
                $("#modelId").modal("show");
                $("#mymodallable").html("Create New Menu");
                $("#myModalBody").html(result);
            })
        });
        function EditMenu(idd)
        {
            $.get("Menus/Edit/"+idd, function(resultt)
            {
                $("#modelId").modal("show");
                $("#mymodallable").html("Edit Menu");
                $("#myModalBody").html(resultt);
            })
        }
        function DetailsMenu(id)
        {
            $.get("Menus/Details/"+id, function(result)
            {
                $("#modelId").modal("show");
                $("#mymodallable").html("Menu Ditails");
                $("#myModalBody").html(result);
            })
        }
        function DeleteMenu(id)
        {
            $.get("Menus/Delete/"+id, function(result)
            {
                $("#modelId").modal("show");
                $("#mymodallable").html("Delete Menu");
                $("#myModalBody").html(result);
            })
        }
    </script>
}